<p style="color: green"><%= notice %></p>
<h1>Invoice</h1>

<ul>
    <li>
        <b><%= "ID: "%></b> <%= "#{@invoice.id}"%>
    </li>
    <li>
        <b><%= "Creation date: "%></b> <%= "#{@invoice.created_at.strftime('%d-%m-%Y')}"%>
    </li>
    <li>
        <b><%= "Company: "%></b> <%= "#{@invoice.company}"%>
    </li>
    <li>
        <b><%= "Debtor: "%></b> <%= "#{@invoice.debtor}"%>
    </li>
    <li>
        <b><%= "Total value: "%></b> <%= "$#{@invoice.total_value}"%>
    </li>

    <h4>Emails</h4>
    <ul>
        <% @invoice.emails.each do |email| %>
            <li><%= email.address %></li>
        <% end %>
    </ul>
</ul>

<div>
  <%= link_to "Back to invoices", invoices_path %> |
  <%= link_to "Download PDF", invoice_path(@invoice, format: "pdf") %>
  <% if !session[:current_user_id].nil? %>
    | <%= link_to "Edit emails", edit_invoice_path(@invoice) %>
  <% end %>
</div>
