<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Confirmed token:</strong>
    <%= user.confirmed_token %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= user.is_active %>
  </p>

  <p>
    <strong>Token to be confirmed:</strong>
    <%= user.token_to_be_confirmed %>
  </p>

</div>
