<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !session[:current_user_id].nil? %>
      <div style="display:flex;">
        Hi, <%= session[:current_user_email] %>!
        <%= button_to "Logout", logout_path, method: :delete, class: "btn-logout" %>
      </div>
    <% else %>
      <div style="display:flex;">
        Hi, guest!
        <%= button_to "Login", login_path, method: :get, class: "btn-logout" %>
        <%= button_to "Sign up", sign_up_path, method: :get, class: "btn-logout" %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <footer>
    <div>
      Gustavo Ferreira, 2023
    </div>
  </footer>
</html>
